.info-block2{
    min-height: 65vh;
    .main-blocks2{
        display: flex;
        padding-top: 45px;
    }
    .main-blocks2 .img-block2{
        width: 590px;
        height: 502px;
    }
    .main-blocks2 .img-lady{
        width: 840px;
        height: 502px;
    .text-block2{
        width: 60%;
        margin-top: 40px;
        margin-right: 12%;
    }
}
}