.info-block5{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 25px; 
    .info5{
        padding-top: 5px;
        color: #252525;
        font-family: sans-serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 12px;
        text-transform: uppercase;
    }
    .text-p5{
        color: #299cbd;
        font-size: 36px;
        font-weight: 600;
        line-height: 12px;
        text-transform: uppercase;
        padding: 7px 0 3px 0;
    }
}