.info-block6{
    min-height: 15vh;
    background-color: #4a4a4a;
    text-align: center;
    padding-top: 25px;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: underline;
}